body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
     
h1 { 
    display: flex;
    font-weight: 900; /* You can adjust this value to make it bolder */
    justify-content: center;
    color: black;
    font-family: "lato";
    margin: 20px;
}

.navbar {
    background-color: #28a7e9;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Set a high z-index value */
}

.navbar-logo img {
    max-height: 40px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-right: 20px;
}

/* Navigation links styles */
.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out; /* Add transition for smooth color change */
}

/* Hover effect */
.navbar-links a:hover {
    color: #106e9f;
}

/* Active link style */
.navbar-links a.active {
    color: #106e9f; /* Set the active link color */
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}

.content {
    padding: 20px;
}

.content img {
    max-width: 100%;
    height: auto;
}

.image-container {
    position: relative;
    display: inline-block;
    }

    .text-container {
        position: relative;
        color: white;
        text-align: center;
    }
    
    .welcome-text {
        font-size: 2em;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        font-weight: 900; /* You can adjust this value to make it bolder */
        justify-content: center;
        color: white;
        font-family: "lato";
        font-size: 36px;
       text-shadow: 3px 3px 3px rgb(0, 0, 0);
    }

    .ClickButton {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1.2em;
        background-color: #001f3f;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
    }

 /* footer */
.academy-footer {
    text-align: center;
    background-color: #28a7e9;
    padding: 20px 0;
    color: #fff;
}

.video-container {
    display: flex;
    align-items: center; /* Center the video vertically */
}

.video-overlay {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio for a 16:9 video */
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.academy-purposes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
 }

.purpose {
    text-align: center;
    max-width: 250px; /* Set a maximum width for each purpose */
    margin: 15px;
}

.purpose img {
    width: 80px; /* Adjust the size of the icon as needed */
    height: 80px;
}

.purpose p {
    margin: 5px 0; /* Adjust the margin for better spacing */
}

.purpose .custom-text {
    color: #001f3f; /* Dark blue color */
    font-size: 1.2em; /* Adjust the font size as needed */
    font-weight: bold;
}

.purpose .custom-paragraph {
    color: #000000; /* Dark blue color */
    font-size: 14px; /* Adjust the font size as needed */
    line-height: 1.4; /* Adjust the line height for better readability */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Pages from other pages */
.community-page {
        text-align: center;  
 }

 .academics-page {
    text-align: center;
}

.agenda-page {
    text-align: center;
}

.testimonial-page {
    text-align: center;
}
